<main class="p-5">
 <div class="display-1"><i class="bi bi-chat-square-heart-fill"> </i></div> 
 <button class="btn btn-dark"><i class="bi bi-check-circle-fill"></i></button>

 <div class="display-6">
    <i class="fa-solid fa-hippo fa-spin"></i>
    <img src="/svg/slack.svg">
 </div>
</main>