<main>
    <h1 class="text-center">Hello World!</h1>
    <h2 class="text-end">Hello World!</h2>
    <h3>Hello World!</h3>

    <hr>

    <div class="display-4 text-muted">Hello World!</div>
    <div class="display-5">Hello World!</div>
    <div class="display-6">Hello World!</div>

    <hr>
    <div class="text-muted text-end">
    Додатковий текст
    </div>

        <hr>

        <button class="btn btn-success"> Button primary</button>

        <hr>

        <p class="text-primary">My text</p>
        <p class="text-dark">My text</p>
        <p class="text-danger">My text</p>

            <hr>

            <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-secondary">Виділити</button>
                <button class="btn btn-outline-success btn-sm">Редагувати</button>
                <button class="btn btn-outline-danger btn-lg">Видалити</button>
            </div>
            </div>
            
                <br>
                <br>
                <br>

        <div class="card">
            <div class="card-body">
                This is Content
            </div>
        </div>
</main>